# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Database
*.db
*.sqlite3

# Environment & Config
.env
!.env.example

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo
